// Width helper classes
// --------------------

.w-35 {
  width: 35%;
}

.w-65 {
  width: 65%;
}

// Label component
// ---------------

.label {
  text-transform: uppercase;
  color: darkgrey;
}

// Icon component
// --------------

.icon {
  background: rgba(0, 0, 0, .75);
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon--top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.icon__img {
  width: 1rem;
  height: 1rem;
}


// List Item component
// -------------------

.list-item--overlay .list-item__heading {
  position: absolute;
  bottom: 0;
  left: .5rem;
  right: .5rem;
  padding: .5rem;
  background: rgba(0, 0, 0, .75)
}

